---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Icons from "./Icons.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="text-center">
  <section class="mb-0">
    <h2 class="text-4xl">{t("footer.title")}</h2><div
      class="flex justify-center"
    >
      <a
        rel="noopener noreferrer"
        target="_top"
        class="text-link flex gap-2"
        href="mailto:bogdi.mail@gmail.com"
        ><Icons icon="email" /><span>bogdi.mail@gmail.com</span></a
      >
    </div><ul class="my-7 flex flex-wrap justify-center gap-4">
      <li>
        <a
          href="https://github.com/bbtools-ps"
          target="_blank"
          rel="noopener noreferrer"
          class="text-link flex justify-center gap-2"
          ><Icons icon="github" /><span>Github</span></a
        >
      </li><li>
        <a
          href="https://www.behance.net/bogdanbogdanovic"
          target="_blank"
          rel="noopener noreferrer"
          class="text-link flex justify-center gap-2"
          ><Icons icon="behance" /><span>Behance</span></a
        >
      </li><li>
        <a
          href="https://www.linkedin.com/in/bogdanbogdanovic/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-link flex justify-center gap-2"
          ><Icons icon="linkedin" /><span>Linkedin</span></a
        >
      </li><li>
        <a
          href="https://www.youtube.com/user/bogdimail"
          target="_blank"
          rel="noopener noreferrer"
          class="text-link flex justify-center gap-2"
          ><Icons icon="youtube" /><span>Youtube</span></a
        >
      </li>
    </ul>
  </section><div class="mb-10 mt-12">
    <p class="flex justify-center">
      <a
        href="https://github.com/bbtools-ps/bogdan-bogdanovic-astro"
        target="_blank"
        rel="noopener noreferrer"
        class="text-link flex"
        href="https://github.com/bbtools-ps/bogdan-bogdanovic-website"
        ><Icons icon="code" className="mr-2" /><span
          >{t("footer.sourceCode")}</span
        ></a
      >
    </p>
  </div>
</footer>
