---
import LanguagePicker from "./LanguagePicker.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<header class="mb-4 flex w-full items-center justify-end gap-4 p-4">
  <div class="mr-2">
    <LanguagePicker />
  </div>
  <ThemeSwitcher />
</header>
